body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    direction: rtl; 
}
header, section, footer {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #2196F3; 
    color: #fff;
    padding: 30px 20px;
    border-radius: 5px 5px 0 0;
}


header a {
    color: #ffeb3b;  
    text-decoration: none;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    background-color: #e8f5e9;  
    padding: 10px;
    border-radius: 3px;
}

.projects ul li {
    background-color: #ffecb3;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

